<div class="wrapper">
  <form class="todo-form">
    <input id="todo-input" type="text" placeholder="Title" autocomplete="off">
    <input id="todo-input" type="text" placeholder="Desc" autocomplete="off">
    <input id="todo-input" type="text" placeholder="Tags" autocomplete="off">

    <!-- <label for="priorities">Priority :</label> -->

    <select name="priorities" id="priorities">
      <option value="">Medium</option>

      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </form>
</div>